<h2 id='title'>CTF Conversor</h2>
<hr />

<h3>Step #1:</h3>
{{spreadsheet-reader supplies=supplies}}

<h3>Step #2:</h3>
<p>Type the CNPJ(without numbers): {{input value=cnpj size='11' maxlength='11' width='50px'}}</p>

<h3>Step #3:</h3>
<a target='_blank' {{bind-attr href=reportURL}}>Download report</a>

{{outlet}}
